.online_food_delivery_box {
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    padding: 20px 40px;
    background-color: #04ccc5;
    box-shadow: 3px 5px 10px #714c4a;
}

.result_box_text {
    color: #bab40f;
    font-size: 20px;
    text-align: center;
    padding-top:10px;
}
.result_box_text span {
    color: #961d51;
    font-size: 26px;
    text-align: center;
}